@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');
@font-face {
  font-family: 'fontYouandiModernTR';
  src: url("../public/fonts/fontYouandiModernTR.ttf");
  font-style:normal;
  font-weight:normal;
}
:root {
  --main-color: #2b6df4
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'fontYouandiModernTR', 'Dongle',sans-serif;
}
html, body, #root {
  font-size:16px;
  height:100vh;
}
#root {
  position:relative;
  overflow:hidden;
  height:100vh;
}
ul,ol {
  list-style: none;
}
p {
  font-family:inherit;
}
a {
  text-decoration: none;
}
img {
  width:100%;
  vertical-align:top;
}
.search-entered {
  right:0 !important;
  transition: right .15s;
}
.search-exiting { opacity: 0 }
.search-exited { opacity: 0 }

.detail-entered {
  bottom:64px !important;
  transition: bottom .15s;
}